.popupContainer {
  display: flex;
  gap: 18px;

  .leaflet-marker-icon {
    background-image: url(src="https://unpkg.com/leaflet@1.9.4/distmarker-icon-2x.png");
  }
  img {
    width: 64px;
    height: 48px;
    object-fit: cover;
    border-radius: 5px;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
